{% extends "base.html" %}
{% comment %}
#
# This file is part of Plinth.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

  <h2>{% trans "Snapper" %}</h2>

  <p>
    {% blocktrans trimmed %}
    Snapper creates 'snapshots' or backups of the FreedomBox filesystem on an hourly basis. It enables the option to revert to an earlier configuration. Snapper is not essential.
    {% endblocktrans %}
  </p>

  <h3>{% trans "Status" %}</h3>

  <p class="running-status-parent">
    {% if status.is_running %}
      <span class="running-status active"></span>
      {% trans "Snapper is running" %}
    {% else %}
      <span class="running-status inactive"></span>
      {% trans "Snapper is not running" %}
    {% endif %}
  </p>
  {% include "diagnostics_button.html" with module="snapper" %}

  <h3>{% trans "Configuration" %}</h3>

  <form class="form" method="post">
    {% csrf_token %}

    {{ form|bootstrap }}

    <input type="submit" class="btn btn-primary"
           value="{% trans "Update setup" %}"/>
  </form>

  <h3>{% trans "Backups" %}</h3>

    {% if not backups %}
    Backups will be available here once created.
    {% endif %}
    {% if backups %}
<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered table-condensed table-striped">
      <thead>
      <td>{% trans "Backup number" %}</td>
      <td>{% trans "Date" %}</td>
      <td>{% trans "Restore" %}</td>
      </thead>
      <tbody>
    {% for backup in backups %}
        <tr>
      <td>
      <div>{{ backup.number }}</div>
      </td>
      <td>
      <div>{{ backup.date }}</div>
      </td>
      <td>
      <div> <input type="submit" class="btn btn-primary"
           value="{% trans "Restore this backup" %}"/></div>
      </td>
      </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
    {% endif %}
  </p>

{% endblock %}
